    /*
    Flaticon icon font: Flaticon
    Creation date: 12/05/2017 16:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-computer-1:before { content: "\f100"; }
.flaticon-technology:before { content: "\f101"; }
.flaticon-watch-with-blank-face:before { content: "\f102"; }
.flaticon-wristwatch:before { content: "\f103"; }
.flaticon-keyboard-1:before { content: "\f104"; }
.flaticon-commerce:before { content: "\f105"; }
.flaticon-cash:before { content: "\f106"; }
.flaticon-laptop:before { content: "\f107"; }
.flaticon-smartphone:before { content: "\f108"; }
.flaticon-gamepad-1:before { content: "\f109"; }
.flaticon-notebook:before { content: "\f10a"; }
.flaticon-notebook-computer:before { content: "\f10b"; }
.flaticon-shopping:before { content: "\f10c"; }
.flaticon-arrows:before { content: "\f10d"; }
.flaticon-shopping-bag:before { content: "\f10e"; }
.flaticon-business:before { content: "\f10f"; }
.flaticon-delivery-truck-1:before { content: "\f110"; }
.flaticon-operator:before { content: "\f111"; }
.flaticon-delivery-truck:before { content: "\f112"; }
.flaticon-gamepad:before { content: "\f113"; }
.flaticon-computer:before { content: "\f114"; }
.flaticon-cart:before { content: "\f115"; }
.flaticon-keyboard:before { content: "\f116"; }
.flaticon-telephone:before { content: "\f117"; }
.flaticon-credit-card:before { content: "\f118"; }
    
    $font-Flaticon-computer-1: "\f100";
    $font-Flaticon-technology: "\f101";
    $font-Flaticon-watch-with-blank-face: "\f102";
    $font-Flaticon-wristwatch: "\f103";
    $font-Flaticon-keyboard-1: "\f104";
    $font-Flaticon-commerce: "\f105";
    $font-Flaticon-cash: "\f106";
    $font-Flaticon-laptop: "\f107";
    $font-Flaticon-smartphone: "\f108";
    $font-Flaticon-gamepad-1: "\f109";
    $font-Flaticon-notebook: "\f10a";
    $font-Flaticon-notebook-computer: "\f10b";
    $font-Flaticon-shopping: "\f10c";
    $font-Flaticon-arrows: "\f10d";
    $font-Flaticon-shopping-bag: "\f10e";
    $font-Flaticon-business: "\f10f";
    $font-Flaticon-delivery-truck-1: "\f110";
    $font-Flaticon-operator: "\f111";
    $font-Flaticon-delivery-truck: "\f112";
    $font-Flaticon-gamepad: "\f113";
    $font-Flaticon-computer: "\f114";
    $font-Flaticon-cart: "\f115";
    $font-Flaticon-keyboard: "\f116";
    $font-Flaticon-telephone: "\f117";
    $font-Flaticon-credit-card: "\f118";